<div style="text-align: center">
  <h1 class="no-margin-top no-margin-bottom">Your Google Calendar</h1>
  <p>Select events to see in your today view. To remove an event, you can click the dot by its title in your today view.</p>
  <div id="date"></div>
  <div id="date-select">
    <button id="back-date">&lt;</button>
    <button id="today" disabled>Today</button>
    <button id="forward-date">&gt;</button>
  </div>
  <table id="events" class="calendar-events fix-border-radius">
    <tbody></tbody>
  </table>
  <button id="add-selected" class="btn submit-btn">Add to today view</button>
</div>
