<div style="text-align: center">
  <div id="date"></div>
  <div>
    <button id="back-date">&lt;</button>
    <button id="today" disabled>today</button>
    <button id="forward-date">&gt;</button>
  </div>
  <table id="events" class="calendar-events fix-border-radius">
    <tbody></tbody>
  </table>
  <button id="add-selected">Add selected events to account</button>
</div>
