<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Schoop &ndash; Setup</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<!-- Sentry error reporting (uncomment for prod) -->
	<!-- <script src="https://browser.sentry-cdn.com/5.14.1/bundle.min.js" integrity="sha384-uNLty2kYRXkczv6MLytto1fP/VzNBKjYpUNIpNa3yvW0CYZrzJE4TyvUBDHtbMmq" crossorigin="anonymous">
</script>
	<script>Sentry.init({ dsn: 'https://43a95a26c1254748aba194baa7b53194@sentry.io/4719620' });</script> -->

	<!-- vendor script -->
	<script src="/js/vendor.js"></script>

	<!-- styles -->
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700|Poppins:400,500,700&display=swap" rel="stylesheet"> <!-- fonts -->
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> <!-- line awesome -->
	<link rel="stylesheet" href="/css/vendor.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<main class="content no-extra-margin-top">
		<noscript><strong>Please enable JavaScript to use this website.</strong></noscript>

		<h1 class="class-entry-header">Setup</h1>

		<form id="class-entry-form" method="POST" action="/api/classes" enctype="application/x-www-form-urlencoded">
			<input type="hidden" id="studentDivision" name="studentDivision" />
			<input type="hidden" id="studentGrade" name="studentGrade" />
			<input type="hidden" id="studentPeriods" name="studentPeriods" />
			<div class="grade-select-container">
				<label for="grade-select">What grade are you in?</label>
				<select id="grade-select" name="userGrade">
					<option value="none-selected" selected disabled>Select Grade</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9 (freshman) </option>
					<option value="10">10 (sophomore)</option>
					<option value="11">11 (junior)</option>
					<option value="12">12 (senior)</option>
				</select>
			</div>
			<div class="class-entry-table-outer hidden">
				<h2>Enter Class Info</h2>
				<p>If you have a free period or empty class, feel free to leave it blank.<span id="freshmenWarning">&nbsp;9TH GRADERS (FRESHMEN): Please mark your normal athletics period in the column furthest to the right.</span></p>
				<table class="class-entry-table fix-border-radius">
					<tbody>
						<tr>
							<th class="left">Period</th>
							<th class="center">Class Name</th>
							<th class="right">Zoom Link</th>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="Confirm" />
			</div>
		</form>
	</main>

	<!-- scripts -->
	<script src="/js/class-entry.js"></script>
</body>
</html>